name: GitGoogleContainer
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      - name: Login in Docker Registry
        uses: docker/login-action@v2.2.0
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: l240250076
          password: Aisino@2024
      - name: Docker pull and push
        run: |
          docker pull docker.elastic.co/kibana/kibana:7.12.1

          docker tag docker.elastic.co/kibana/kibana:7.12.1   registry.cn-hangzhou.aliyuncs.com/opennamespace/kibana:7.12.1
          
          docker push registry.cn-hangzhou.aliyuncs.com/opennamespace/kibana:7.12.1
          

      
