name: GitGoogleContainer
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      - name: Login in Docker Registry
        uses: docker/login-action@v2.2.0
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: l240250076
          password: Aisino@2024
      - name: Docker pull and push
        run: |

          docker pull --platform linux/arm64 ghcr.io/flannel-io/flannel-cni-plugin:v1.8.0-flannel1
          docker pull --platform linux/arm64 ghcr.io/flannel-io/flannel:v0.27.4

          docker tag ghcr.io/flannel-io/flannel-cni-plugin:v1.8.0-flannel1 registry.cn-hangzhou.aliyuncs.com/opennamespace/flannel-cni-plugin:v1.8.0-flannel1
          docker tag ghcr.io/flannel-io/flannel:v0.27.4 registry.cn-hangzhou.aliyuncs.com/opennamespace/flannel:v0.27.4

          docker push registry.cn-hangzhou.aliyuncs.com/opennamespace/flannel-cni-plugin:v1.8.0-flannel1
          docker push registry.cn-hangzhou.aliyuncs.com/opennamespace/flannel:v0.27.4


          

      
